#ie7 #subscribe {
	bottom:36px;
	}
	
#ie7 #subscribe form input.submit {
	width:60px;
}

#ie7 #subscribe .social-media {
	position:absolute;
	right:10px;
	top:50px;
}

.ie #featured .head {
	background:none;
	background: url(../images/featured-bg.png) repeat;
	width:291px;
}

.projects #ie7 #footer {
	margin-top:10px;
}

.store-detail .ie #content #detail p.desc {
	letter-spacing:0em;
}

.profile #ie7 #user #share li.gifts {
	margin-right:45px;
	width:115px;
}

.cufon-ready .profile #ie7 #user #share li.gifts {
	margin-right:40px;
	width:120px;
}

.profile .ie #user #share li.gifts small{
	margin-left:0px;
	}
	
.cufon-ready .profile .ie #user #share li.gifts small{
	margin-left:7px;
}

.profile .ie ul#projects li.project a.info {
	background:none;
	background: url(../images/info-bg.png) repeat;
}
