/* @override 
	http://localhost:3000/stylesheets/layout.css
	http://trustart.bell-n-whistle.com/stylesheets/layout.css?1277411281
	http://trustart.bell-n-whistle.com/stylesheets/layout.css?1277488535
	http://trustart.bell-n-whistle.com/stylesheets/layout.css?1277494083
	http://trustart.bell-n-whistle.com/stylesheets/project.css?1277494083
*/

@font-face {
	font-family: 'Helvetica';
	src: url('../fonts/helvetiva_italica-webfont.eot');
	src: local('☺'), url('../fonts/helvetiva_italica-webfont.woff') format('woff'), url('../fonts/helvetiva_italica-webfont.ttf') format('truetype'), url('../fonts/helvetiva_italica-webfont.svg#webfonttU46DRlX') format('svg');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Helvetica';
	src: url('helvetica_bold_italica-webfont.eot');
	src: local('☺'), url('../fonts/helvetica_bold_italica-webfont.woff') format('woff'), url('helvetica_bold_italica-webfont.ttf') format('truetype'), url('helvetica_bold_italica-webfont.svg#webfontvl3msiGK') format('svg');
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: 'Helvetica';
	src: url('helvetica_bold-webfont.eot');
	src: local('☺'), url('../fonts/helvetica_bold-webfont.woff') format('woff'), url('helvetica_bold-webfont.ttf') format('truetype'), url('helvetica_bold-webfont.svg#webfontg1u5BHdj') format('svg');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Helvetica';
	src: url('../fonts/helvetiva_regular-webfont.eot');
	src: local('☺'), url('../fonts/helvetiva_regular-webfont.woff') format('woff'), url('../fonts/helvetiva_regular-webfont.ttf') format('truetype'), url('../fonts/helvetiva_regular-webfont.svg#webfontkdlIboVZ') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* Layout general */

body {
	background: url(../images/background.png) repeat-x center top;
	font-family: Helvetica, "Times New Roman", Arial, sans-serif;
	font-size: 1em;
}

.wrapper {
	width:963px;
	margin: 0 auto;
}

.clear {
	clear: both;
	padding:0 !important;
}

a.more,
input.more {
	height: 21px;
	background: #F3FC04 url(../images/link-more.png) no-repeat right center;
	color: #000000;
	font-style: italic;
	font-weight:bold;
	line-height:21px;
	font-size:1em;
	padding:0 17px 3px 5px;
	text-align: right;
	font-family:"Times New Roman";	
	opacity:  0.5;
	text-decoration: none;
}

a.more:hover,
input.more:hover {
	height: 21px;
	background: #F3FC04 url(../images/link-more.png) no-repeat right center;
	color: #000000;
	font-style: italic;
	font-weight:bold;
	line-height:21px;
	font-size:1em;
	padding:0 17px 3px 5px;
	text-align: right;
	font-family:"Times New Roman";	
	opacity: 1;
}


input.submit:hover {
	cursor: pointer;
}

.cufon-loading span.numbers {
	visibility:hidden !important;
}

/* Header */

#header {
	height:66px;
	position: relative;
	overflow: hidden;
	margin-bottom:23px;
}

#header,
#header a {
	color: #808285;
}

#header a {
	font-weight: bold;
}


h1#logo {
	width:248px;
	height:47px;
	float:left;
	margin:9px 0 0 2px;
}

h1#logo a{
	display: block;
	background: url(../images/logo.png) no-repeat left center;
	width:100%;
	height:100%;
}

h1#logo a span {
	display:none;
	visibility:hidden;
	}

#nav,
#login-box {
	margin-top: 25px;
}

#nav {
	float: left;
	margin-left: 130px;
	font-family: "Times New Roman";
}

#nav li {
	float: left;
	text-transform: uppercase;
	margin: 0 9px;
}

#nav li a{
	display:block;
	padding: 0 10px;
	height: 100%;
	color:#cdcdcd;
	/*
color: #808285;
*/
}

#nav li.active a,
#nav li a:hover{
	color:#636365;
	text-decoration:none;
}

#nav li span {
	text-transform: lowercase;
	font-style: italic;
	font-weight: 100;
}

#login-box {
	float: right;
	margin:27px 2px 0 0;
	font-style:italic;
	font-size:.7em;
}

#login-box a{
	font-style: normal;
	text-transform:uppercase;
	text-decoration:underline;
	
}

#login-box a:hover{
	text-decoration:none;
}

#login-box span {
	font-family:"Times New Roman";
	margin:0 2px;
}
/* footer */

#footer {
	border-top: solid 1px #f7f5f4;
	background: #f2efec;
	height: 243px;
	padding-top: 40px;
	margin-top:55px;
}

#footer .wrapper{
	padding-top:5px;
}

#footer h3 {
	color: #9D9D9F;
	text-transform: uppercase;
	font-weight: bold;
	margin-bottom: 2px;
	font-size:0.9em;
}

#footer li a {
	color: #9D9D9F;
	font-size: .78em;
}

#footer .logo,
#footer .projects,
#footer .about,
#footer .ads{
	margin: 13px 34px 0 0;
}

#footer .logo {
	background: url(../images/footer-logo.png) no-repeat;
	height:195px;
	width:156px;
	float:left;
	padding:0;
	margin-top:0;
}

#footer .logo p {
	display:none;
	visibility:hidden;
}

#footer .projects {
	float:left;
	width:380px;
	padding: 0;
	margin-right:20px;
}

#footer .projects li {
	float: left;
	width: 190px;
	padding: 3px 0;
}

#footer .about {
	float:left;
	width: 160px;
	padding: 0;
	margin-right:20px;
}

#footer .about li{
	padding: 2px 0;
	}

#footer .ads {
	float:left;
	width:185px;
	padding:0;
	margin-right:0;
}

#footer .ads li {
	float: left;
	margin: 0 10px 5px 0;
}

#footer .ads li.big {
	float:none;
	width:185px;
	text-align:right;
	margin-bottom:40px;
}

#container {

}


/* home */

#banner {
	margin-bottom:16px;
	height:230px;
	position:relative;
	padding:30px 0 0 182px;
	background:url(../images/statue.jpg) no-repeat left bottom;
	border-bottom:solid 4px #555556;
}

#banner h2{
	margin-top:30px;
	font-size:1.8em;
	line-height:1.25em;
	font-family:"Times New Roman", Times, serif;
	word-spacing:.07em;
	height:72px;
	margin-bottom:30px;
	color: #58595b;
}

#featured ul li img {
	border: 2px solid #d5d5d5;
	/*width: 311px;*/
}

#banner a{
	float:left;
	color:#fff;
	font-family: "Times New Roman";
	font-style: italic;
	padding:8px 32px 8px 11px;
	margin-right:20px;
	font-size:1.3em;
	letter-spacing:.02em;
	background:url(../images/banner-arrow.png) no-repeat right center;
	opacity: 0.9;
}

#banner a:hover {
	opacity: 1;
	text-decoration: none;
}

#banner .login-box a,
#banner .login-box span {
	color:#58595b;
	font-size:1em;
}

#banner .login-box span {
	font-style:italic;
	font-family:"Times New Roman";
}

#banner .login-box a {
	float:none;
	background:none;
	padding:0;
	margin:0;
	font-style:normal;
	text-transform:uppercase;
	font-family:'Helvetica', Arial;
}

#banner a.learn {
	background-color:#F0433B;
	border:solid 1px #F9B4B1;
}

#banner a.explore {
	background-color:#37A4F0;
	border:solid 1px #AFDBF9;
}

.home #content {
	margin-bottom:15px;
	position:relative;
}

#video {
	float:left;
	width:446px;
	height:385px;
	padding:16px 15px 15px 15px;
	border-top: solid 1px #FAF9F7;
	border-bottom: solid 1px #F7F5F4;
	border-left: solid 1px #fefefe;
	background: #F2EFEC;
	position: relative;
}

#video h2 {
	font-weight: bold;
	color: #58595B;
	text-transform:uppercase;
	font-size:1.2em;
	word-spacing:.15em;
	height:22px;
}
#video h3 {
	color: #BD312B;
	font-style:italic;
	font-family: "Times New Roman";
	letter-spacing:.05em;
	word-spacing:-.1em;
	font-weight:bold;
}

#video div {
	background: url(../images/teh-video.jpg) no-repeat;
	width:443px;
	height:333px;
	margin: 15px auto 0 auto;
	cursor: pointer;
}

#news {
	background: url(../images/news-background.png) no-repeat;
	width: 433px;
	height:281px;
	float:right;
	padding:17px 20px 20px 20px;
	position:relative;
}

#news h2 {
	color: #808285;
	text-transform: uppercase;
	font-weight: bold;
	margin-bottom:38px;
	font-family: "Times New Roman";
}

#news h3,
#news h3 a {
	color: #E52E26;
	text-transform: uppercase;
	font-weight: bold;
	margin-bottom:15px;
	font-size:1.1em;
	letter-spacing:.1em;
	word-spacing:-.2em;
}

#news .meta {
	text-transform: uppercase;
	font-weight: bold;
	color: #58595B;
	margin-bottom:4px;
}

#news p {
	color: #58595B;
	line-height:1.5em;
	margin-bottom:25px;
	font-size:.85em;
}

#news a.more {
	display: block;
	position:absolute;
	right:30px;
	bottom:30px;
}

.home.index #subscribe {
	position:absolute;
	bottom:0;
	right:0;
	height:63px;
	width:446px;
	/*
background: #EAE7E4;
*/
	border: solid 5px #F2EFEC;
	padding:18px 9px 5px 9px;
}

#subscribe h2 {
	color: #58595B;
	font-weight: bold;
	margin-bottom:15px;
	word-spacing:.1em;
}

#subscribe .social-media {
	float: right;
}

.home #subscribe form {
	float: left;
}

#subscribe form label {
	display:none;
	visibility: hidden;
}

#subscribe form input {
	background: none;
	border: solid 1px #C6C3C0;
	color: #4C4847;
	height:17px;
	font: normal normal 1em "Times New Roman";
}

#subscribe form input#email {
	width:110px;
	padding-left:5px;
}

#subscribe form input#zip {
	width:70px;
	padding-left:5px;
}

#subscribe form input.submit {
	color: #ffffff;
	background: #DC3931 !important;
	border-color:#DC3931; 
	width: auto;
	height:22px;
	font: italic 15px "Times New Roman", Times, serif;
}

#featured {
	padding:2px 0 0 0;
}

#featured h2 {
	text-transform: uppercase;
	font-weight: bold;
	color: #808285;
	margin-bottom: 5px;
	height:20px;
	word-spacing:.2em;
	font-family:"Times New Roman";
}

#featured li {
	float:left;
	position:relative;
	width:309px;
	margin-right:18px;
}

#featured li.first,
#featured li.last {
	margin:0;
}

#featured li .head{ 
	position:absolute;
	top:0;
	left:0;
	background-color: rgba(0, 0, 0, .8);
	color:#ffffff;
	padding: 9px;
	height:120px;
	width:295px;

}

#featured .head h3 {
	text-transform: uppercase;
	font-weight: bold;
}

#featured .head h4 {
	font-style: italic;
	font-size:.95em;
	font-family: "Times New Roman";
	height:15px;
	margin-bottom:8px;
	font-weight:bold;
}

#featured .head p {
	font-size:0.8em;
	line-height:1.2em;
	margin:5px 0 0 0;
}

#featured li .head a {
	position:absolute;
	left:9px;
	bottom:14px;
	height:19px;
}

/* social media */

.social-media li.find {
	font-style: italic;
	color: #58595B;
	font-size:14px;
	line-height: 21px;
	width: 66px;
	font-family:"Times New Roman";
	margin:0;
}

.social-media li {
	float: left;
	width: 21px;
	height: 21px;
	margin: 0 3px;
}

.social-media li a {
	display:block;
	width:100%;
	height:100%;
}

.social-media li span{
	display:none;
	visibility:hidden;
}

.social-media li.twitter {
	background: url(../images/social-media/twitter.png) no-repeat;
}

.social-media li.flirk {
	background: url(../images/social-media/flirk.png) no-repeat;
}

.social-media li.vimeo {
	background: url(../images/social-media/vimeo.png) no-repeat;
}

.social-media li.facebook {
	background: url(../images/social-media/facebook.png) no-repeat;
}








/*  Projects page */

.projects #header {
	margin-bottom:36px;
}

.projects h2 {
	text-transform: uppercase;
	color: #9D9D9F;
	font-weight: bold;
	margin-bottom: 10px;
	font-family: "Times New Roman";
	height:16px;
}

.projects h3 {
	color: #58595B;
	font-weight: bold;
	margin-bottom: 1px;
	font-size:1.1em;
	height:18px;
}

.projects h4 {
	font-style: italic;
	color: #BD312B;
	margin-bottom: 15px;
	font-family:"Times New Roman";
	font-weight:bold;
	height:16px;
}

.projects #content {
	margin-bottom: 20px;
}

.projects #content p {
	font-size: 14px;
	line-height: 16px;
	margin-bottom:5px;
	font-size:.75em;
}

.projects #content li {
	float:left;
	width: 231px;
	padding: 25px 44px 20px 44px;
	/*border: dotted 1px #000000;*/
	position:relative;
	height:395px;
}

.projects #meta {
	height:140px;
	border-bottom: 3px solid #555556;
	margin-bottom:30px;
}

.projects #meta ul {
	width:515px;
	float:left;
	list-style:disc;
	padding:15px 0 0 15px;
}

.projects #meta li {
	border:none !important;
	padding:0;
	height:auto;
	width:auto;
	margin-bottom:10px;
	color:#555555;
}

.projects #meta  .gift {
	float:right;
	width:430px;
	height:135px;
	border-left: 1px solid #e1e1e2;
}

.projects #meta  .gift h3{
	font-weight:normal;
	text-align:center;
	font-style:italic;
	font-size:.9em;
	font-family: "Times New Roman", Times, serif;
	margin-top:12px;
	color:#555555;
}

.projects #meta  .gift a {
	width:173px;
	height:109px;
	display:block;
	margin:0 auto;
	background:url("../images/make-gift.png") no-repeat;
}

.projects #meta .gift a span {
	display:none;
	visibility:hidden;
}


.projects #content li.top,
.store-list #content li.top {
	border-top: dotted 1px #c1c1c1;
	}
	
.projects #content li,
.store-list #content li {
	border-left: dotted 1px #c1c1c1;
	border-bottom: 1px dotted #939595 !important;
}

.projects #content li.last,
.store-list #content li.last {
	border-right: dotted 1px #c1c1c1;
}

.projects #content img {
	padding:10px;
	background: #E7E8EB;
	border: #F2EFEC solid 5px;
	width: 207px;
	display:block;
	margin-bottom: 18px;
}

.projects #content a.more {
	display: block;
	position:absolute;
	right:44px;
	bottom:80px;
	position: absolute !important;
	bottom: 5px;
    right: 10px;
}

.projects #container #content ul li a.more {
	bottom: 40px !important;
	right:  44px;	
}

.projects #footer {
	margin-top:25px;
}


/*  Store page */

.store-detail #header,
.store-list #header {
	margin-bottom:43px;
}

.store-list h2,
.store-detail h2 {
	text-transform: uppercase;
	padding-bottom: 3px;
	color: #BD312B;
	font-weight: bold;
	margin-bottom: 25px;
	border-bottom: solid 3px #555555;
	font-family:"Times New Roman";
	height:16px;
}

.store-detail #content {
	margin-bottom:150px;
}

.store-list h3 {
	margin-bottom: 2px;
	text-align: center;
}

.store-list h3 a,
.store-detail h3 a{
	color: #BD312B;
	font-weight: bold;
	color: #58595B;
	font-size: 1.25em;
}	

.store-list #content,
.store-detail #content {
	margin-bottom: 20px;
}

.store-list #content p.price,
.store-detail #content p.price {
	color: #BD312B;
	text-align: center;
}

.store-list #content li {
	float:left;
	width: 180px;
	height:215px;
	padding: 40px 69px;
}

.store-list #content img {
	width: 180px;
	display:block;
	margin-bottom: 15px;
}

.store-detail #content img {
	float: left;
	margin-right: 45px;
}

.store-detail #content #detail {
	width: 386px;
	float: left;
}

.store-detail #content #detail h3,
.store-detail #content #detail p.price {
	text-align: left;
}

.store-detail #content #detail p.price {
	margin-bottom:17px;
	}

.store-detail #content #detail p.desc {
	font-size:14px;
	letter-spacing:-0.05em;
	line-height:1.3em;
	margin-bottom:10px;
	width:360px;
}

.store-detail #content form label {
	color: #555556;
	font-weight: bold;
	text-transform: uppercase;
	margin-right: 5px;
}

.store-detail #content form input {
	width: 50px;
	height:30px;
	border: solid 1px #C6C3C0;
}

.store-detail #content form input.submit {
	border:none;
	width: 100px;
	height: 21px;
	padding-left:0;
	display: block;
	margin-top:40px;
	background-position: right center;
}



/* Profile */

.loggedin #login-box a {
	background: none;
	text-decoration:none;
}

.loggedin #login-box a:hover {
	text-decoration:underline;
	}

.profile #user {
	border-bottom: solid 4px #555555;
	padding:16px 0 0 0;
	position:relative;
	margin-bottom:23px;
}

.profile #user #detail {
	float: left;
	height:185px;
	width:370px;
	padding-right:40px;
	padding-bottom:15px;
	border-right: dashed 1px #acacac;
	position:relative;
}

.profile #user #detail h2{
	color: #58595B;
	font-weight: bold;
	font-size: 1.25em;
	height:20px;
	margin-bottom:1px;
}

.profile #user #detail h3{
	color: #BD312B;
	font-weight:bold;
	font-size: 1em;
	height:15px;
	margin-bottom:20px;
	font-family: "Times New Roman";
	font-style: italic;
}

.profile #user #detail blockquote {
	font-style:italic;
	font-weight:bold;
	color: #58595B;
	font-family: "Times New Roman";
	line-height:1.35em
}

.profile #user #detail .contact {
	position: absolute;
	bottom: 20px;
	right:88px;
	font-size:.7em;
	height:14px;
	background: url(../images/get-url.png) no-repeat 8px top;
	padding-top:2px;
	padding-bottom:1px;
	padding-left:40px;
}

.profile #user #detail .url,
.profile #user #detail .get-touch {
	
}

.profile #user #detail .url {
	text-decoration:underline;
	color:#83C1F7;
	margin-left: 15px;
}

.profile #user #detail .get-touch {
	color: #58595B;
	margin-right: 7px;
	font-weight:bold;
}

.profile #user #share {
	float:right;
	width:550px;
}

.profile #user #share li{
	float:left;
	width:133px;
	padding-right:2px;
	border-right: solid 1px #d4d4d4;
	margin:0;
	position:relative;
	height:135px;
}

.profile #user #share li.last{
	margin-right:0px;
	border:none;
}

span.numbers,
.profile #user #share li p small {
	color:#59A6F3;
	font-size:1.7em;
	letter-spacing:0em;	
	font-weight:bold;
}

.profile #user #share li a {
	color:#83C1F7;
	font-size:.7em;
	text-decoration:underline;
	text-align:center;
	display:block;
	width:80px;
	margin:10px auto 0 auto;
}

.profile #user #share li.shares p{
	background: url(../images/logo-mini-mini.png) no-repeat 24px center;
	padding-left:52px;
	}

.profile #user #share li.gifts small{
	margin-left:5px;
	font-size:16px;
	letter-spacing:0;
}

.cufon-ready .profile #user #share li.gifts p .cufon {
	/*width:45px !important;*/
}

.profile #user #share li h4{
	text-align:center;
	height:16px;
	margin-bottom:3px;
	font-family:"Times New Roman";
	font-weight:bold;
	color:#bd313b;
	text-transform:uppercase;
}

.profile #user #share li h5{
	text-align:center;
	font-size:.7em;
	width:70px;
	margin:0 auto;
	color:#58585b;
	line-height:14px;
	margin-bottom:20px;
}

.profile #user #share li.gifts p{
	text-align:center;
}

.profile #user #share ul {
	height:149px;
	border-bottom:dashed 1px #b3b3b3;
}

.profile #user #share .total {
	position:relative;
	height:50px;
	margin-left:30px;
	width:300px;
}

.profile #user #share .total h4 {
	float:left;
	margin:20px 0 0 0px;
}

.profile #user #share .total span.numbers {
	float:right;
	margin:0;
	height:100%;
	width:105px;
	padding:5px 0 0 0;
	text-align:right;
	font-size:2.6em;
	background:url(../images/logo-mini.png) no-repeat left center;
	font-weight:bold;
}

.profile #user #share .edit{
	position:absolute;
	right:0;
	bottom:5px;
}

.profile #user #detail img {
	float:left;
	margin-right: 35px;
}

.profile ul#projects{
	float:left;
	width:740px;
}

.profile ul#projects li {
	width: 207px;
	height: 249px;
	border: solid 5px #F2EFEC;
	float:left;
	margin:0 14px 14px 0;
	padding: 10px;
	position:relative;
	background: url(../images/bg-proyect.jpg) no-repeat;
}

.profile ul#projects li div.project,
.profile ul#projects li div.info,
.profile ul#projects li div.share {
	height: 249px;
	width: 207px;
	position:absolute;
	top:10px;
	left:10px;
}

.profile ul#projects li div.info,
.profile ul#projects li div.share {
	display:none;	
	}

.profile ul#projects li.last {
	margin-right:0;
}

.profile ul#projects li div.project h3,
.profile ul#projects li div.project h4{
	text-align:center;
	color:#58595B;
}

.profile ul#projects li div.project h3 {
	font-size:1.25em;
	font-weight:bold;
	height:20px;
	margin-bottom:1px;
}

.profile ul#projects li div.project h4{
	font-style:italic;
	height:22px;
	margin-bottom:6px;
	font-family: "Times New Roman";
	font-weight:bold;
}

.profile ul#projects li div.project .shared,
.profile ul#projects li div.share .shared,
.profile ul#projects li div.project .shared p,
.profile ul#projects li div.share .shared p {
	height:33px;
}

.profile ul#projects li div.share .shared p {
	line-height:33px;
	text-align:center;
	font-size:1.2em;
	font-weight:bold;
	color:#58585b;
}

.profile ul#projects li div.share .shared,
.profile ul#projects li div.project .shared {
	border: 1px dashed #000;
	border-left:none;
	border-right:none;
	padding: 6px 0 8px 0;
}

.profile ul#projects li div.project .shared p {
	padding-left:100px;
	background: url(../images/logo-mini.png) no-repeat 64px center;
	color:#4187E3;
	font-weight:bold;
	font-size:1.4em;
}

.profile ul#projects li div.info table .header td.logo small,
.profile ul#projects li div.project .shared p small,
.profile ul#projects li div.share .nav div p small {
	color:#0F43D3;
	display:block;
	font-family:"Times New Roman";
	font-size:0.5em;
	font-style:italic;
	letter-spacing:0.1em;
	padding-left:3px;
}

.profile ul#projects li div.info table .header td.logo {
	position:relative;
}

.profile ul#projects li div.share form,
.profile ul#projects li div.share fieldset {
	width:207px;
}

.profile ul#projects li div.share form ul,
.profile ul#projects li div.share form li {
	width: 207px;
	background:none;
	border:none;
	float:none;
	margin:0;
	padding:0;
}

.profile ul#projects li div.share form ul {
	margin-bottom:12px;
}

.profile ul#projects li div.share form li {
	margin-bottom:3px;
	height:30px;
}

.profile ul#projects li div.share form li.email {
	height:53px;
}

.profile ul#projects li div.info h3,
.profile ul#projects li div.info h4,
.profile ul#projects li div.info p.desc,
.profile ul#projects li div.share form li label{
	font-size:.8em;
	font-weight:bold;
	color:#58585b;
}

.profile ul#projects li div.info h3 {
	margin-bottom:3px;
}

.profile ul#projects li div.info h4 {
	font-size:.7em;
}

.profile ul#projects li div.info p.desc {
	font-weight:normal;
	font-size:.7em;
	height:45px;
	margin-bottom:7px;
	overflow:hidden;
}

.profile ul#projects li div.info table{
	margin-top:8px;
	border-bottom:dashed 1px #000;
	border-top:dashed 1px #000;
	width:208px;
	position:relative;
}

.profile ul#projects li div.info table .header td {
	width:156px;
}

.profile ul#projects li div.info table .header td.logo,
.profile ul#projects li div.info table .content td {
	width:52px;
	}

.profile ul#projects li div.info table .header td{
	border-bottom:dashed 1px #000;
	height:55px;
	vertical-align:top;
	}
	
.profile ul#projects li div.info table .header td h4{
	height:24px;
	line-height:24px;
	text-align:center;
	font-size:.75em;
}

.profile ul#projects li div.info table .header td.about a.more{
	font-size:.75em;
	margin-left:10px;
}

.profile ul#projects li div.info table tr.header td.logo{
	border-right:dashed 1px #000;
	background: url(../images/logo-mini-mini.png) no-repeat center 2px;
	text-align:center;
	padding-top: 25px
}

.profile ul#projects li div.info table tr.header td.logo img{
	display:block;
}

.profile ul#projects li div.info table .content td{
	border-right:solid 1px #B5BBC0;
	background:url(../images/info-table-bg.png) repeat;
	text-align:center;
}

.profile ul#projects li div.info table .content td.last{
	border:none;
}

.profile ul#projects li div.info table .content td h5{
	color:#4E545A;
	font-size:.75em;
	margin-top:5px;
	margin-bottom:3px;
}

.profile ul#projects li div.info table .content td .desc{
	color:#fff;
	letter-spacing:0.1em;
	margin:0;
	height:22px;
	margin-bottom:4px;
}

.profile ul#projects li div.info table .content td .price,
.profile ul#projects li div.info table .content td .logo{
	color:#fff;
	font-size:.9em;
	margin-bottom:3px;
}

.profile ul#projects li div.share form li input{
	border:solid 1px #ccc;
	padding:6px 3px;
	height:17px;
}

.profile ul#projects li div.share form li.email input{
	width:199px;
	margin-top:6px;
}

.profile ul#projects li div.share form li.q {
	height:31px;
	margin-bottom:10px;
}

.profile ul#projects li div.share form li.q label{
	float:left;
	width:130px;
}

.profile ul#projects li div.share form li.q input{
	float:right;
	width:66px;
}

.profile ul#projects li div.share form li.submit {
	height:60px;
}

.profile ul#projects li div.share form li.submit input {
	display:block;
	width:111px;
	height:60px;
	margin:0 auto;
	background:url(../images/share-gift.png) no-repeat;
	border:none;
	padding:0;
}

.profile ul#projects li div.share .nav div {
	position:absolute;
	bottom:-6px;
	right:0;
	padding-left:33px;
	background: url(../images/logo-mini.png) no-repeat left center;
	height:33px;
}

.profile ul#projects li div.info table .header td.logo,
.profile ul#projects li div.share .nav div p{
	color:#4187E3;
	font-size:1.2em;
	font-weight:bold;
	padding-top:4px;
}

.profile ul#projects li div.nav a {
	position:absolute;
	bottom: 8px;
	display:block;
	height:20px;
	color: #fff;
	font-style:italic;
	font-weight:bold;
	font-family: "Times New Roman";
	padding:1px 7px;
}

.profile ul#projects li div.nav a.info,
.profile ul#projects li div.nav a.back {
	left:0px;
	bottom:0px;
	background-color: rgba(193, 211, 226, .6);
	/*background: #C1D3E2;*/
	}

.profile ul#projects li div.nav a.back {
	background:#72A9CE;
}
	
.profile ul#projects li div.nav a.share {
	right:0px;
	bottom:0px;
	background: #72A9CE url(../images/shared-arrow.png) no-repeat right top;
	padding-right:18px;
	word-spacing:-.10em;
	}

.profile ul#projects li div.project img {
	margin:0 auto 10px auto;
	display: block;
}

.profile #sidebar {
	width:208px;
	float:right;
}

.profile #sidebar .widget {
	padding:0 10px 10px 10px;
	border: solid 1px #ccc;
	margin-bottom:10px;
}

.profile #content #sidebar h3{
	margin-top:15px;
	height:29px;
	border-bottom: dashed 1px #000;
}

.profile #content #sidebar ul{
	width:188px;
}

.profile #content #sidebar li {
	background:none;
	border: none;
	float:none;
	height:31px;
	width:188px;
	margin: 0;
	padding:5px 0;
	border-bottom: dashed 1px #000;
	}
	
.profile #content #sidebar ul.shared-me li {
	height:40px;
}	

.profile #content #sidebar li img {
	float: left;
	margin-right: 17px;
}

.profile #content #sidebar li.last {
	border-bottom:none;
}

.profile #content #sidebar ul.shared-me li img {
	margin-top:5px;
}

.profile #content #sidebar li h4 {
	font-size:.9em;
}

.profile #content #sidebar li h5 {
	font-size:.75em;
}

.profile #content #sidebar ul.shared-me li p {
	color:#ff0000;
}

.profile #content #sidebar li p {
	font-family: "Times New Roman";
	font-weight:bold;
	font-style:italic;
	font-size:.75em;
	}


/* Project */

.project .meta {
	padding-top:5px;
	margin-bottom:7px;	
}

.project .meta h2,
.chapter .meta h2 {
	color: #58585b;
	text-transform:uppercase;
	height:20px;
	margin-bottom:3px;
	font: bold 1.25em Arial, Helvetica, Geneva, sans-serif;
}

.project .meta h3 a,
.chapter .meta h3 a {
	color:#BD312B;
	font-family:"Times New Roman";
	font-style:italic;
	letter-spacing:.05em;
	word-spacing:.05em;
	font-weight:bold;
	height:16px;
	margin-bottom:15px;
}

.project .meta ul {
	height:30px;
}

.project .meta li {
	float: left;
	margin: 0;
	border-right:solid 1px #fff;
	background:#f1efeb;
	font-family:"Times New Roman";
}

.project .meta li.selected {
	background: #459ff7 url(../images/link-current.png) no-repeat right top;
}

.project .meta li.selected a {
	color: #fff;
	padding-right:25px;
	}

.project .meta li.selected a:hover {
	text-decoration:none;
	cursor:default;
}

.project .meta li a {
	color: #9d9d9f;
	font-style:italic;
	font-weight: bold;
	display:block;
	height:20px;
	padding: 6px 15px 4px 15px;	
}

.project #video {
	background: url(../images/teh-big-video.jpg) no-repeat;
	width:595px;
	height:450px;
	margin: 0 0 18px 0;
	padding:0;
	border:none;
}

.project #content {
	width:590px;
	margin-right: 10px;
	float:left;
}

.project #project {
	border-bottom: dashed 1px #c1c1c1;
	padding-bottom: 10px;	
}

.project #project p{
	font-size:.75em;
	word-spacing:.05em;
	line-height:1.6em;
	color: #58595b;
}

.project #sidebar {
	width: 310px;
	padding:20px;
	float:right;
	background:#f2f0ec url(../images/sidebar-bg.png);
}

.project #sidebar .widget {
	border-top: 2px solid #565656;
}

.project #sidebar #status h3{
	height:50px;
	line-height: 45px;
	border-bottom: 2px solid #565656;
	text-align:center;
	margin-bottom:12px;
	font-style:italic;
	overflow:hidden;
	color:#58585b;
	font-size:1.25em;
	letter-spacing:.1em;
	font-family: "Times New Roman";	
}

.project #sidebar #status h3 span {
	text-transform:uppercase;
}

.project #sidebar #status p {
	font-size:.8em;
	line-height:1.4em;
	margin-bottom:46px;
	color: #646666;
}

.cufon-ready .project #sidebar #status p {
	margin-bottom:30px;
}

.project #sidebar #status .status {
	margin-bottom:28px;
}

.cufon-ready .project #sidebar #status .status {
	margin-bottom:33px;
}

.cufon-ready .project #sidebar #status .shareholders {
	line-height:.8em;
	margin-bottom:25px;
}

.project #sidebar #status .shareholders {
	color: #59A6F3;
	font-weight: bold;
	text-align:center;
	line-height:1.45em;
	margin-bottom:35px;
	font-size:1em;
}

.project #sidebar #status .last {
	margin-bottom:0;
}

.cufon-ready .project #sidebar #status .shareholders .numbers {
	letter-spacing:-.05em;
}

.project #sidebar #status .shareholders .numbers {
	font-size:3.75em;
	letter-spacing:.05em;
}

.project #sidebar #status .goal {
	height:45px;
	width:222px;
	margin: 0 auto 25px auto;
	position:relative;
}

.project #sidebar #status .goal div {
	position:absolute;
}

.project #sidebar #status .start,
.project #sidebar #status .end {
	bottom:0
}

.project #sidebar #status .start {
	left:0;
}
.project #sidebar #status .end {
	right:0;
}

.project #sidebar #status .total,
.project #sidebar #status .doing,
.project #sidebar #status .full {
	top:0;
	width:100%;
	height:16px;
	background-color:rgba(204,181,181,.8);
	border: solid 1px #ccb5b5;
	z-index:0;
}

.project #sidebar #status .doing,
.project #sidebar #status .full {
	border: solid 1px #cc5353;
	background-color:rgba(204,83,83,.8);
	z-index:1;
}

.project #sidebar #status .doing {
	border-right:none;
	}

.project #sidebar #status .zero {
	display:none;
	visibility:hidden;
}

.project #sidebar #status .shareholders small {
	font-style:italic;
	font-family:"Times New Roman";
	color: #58595B;
}

.project #sidebar #gift h3 {
	background: none;
	height: 109px;
	margin:5px 0 2px 0;
}

#gift h3 a img {
	width: 170px;
	margin-left: 70px;
}

#resources ul li span a.get-touch.iframe {
	color: #58585b;
}

.project #sidebar #gift h3 span{
	display:none;
	visibility:hidden;
}

.project #sidebar #gift p{
	text-align:center;
	font-style:italic;
	font-weight:bold;
	font-family:"Times New Roman";
	font-size: 1.05em;
}

.project #sidebar #gift p a{
	padding: 0px 15px 0px 10px;
	font-size: 1em;
	margin-left:5px;
}

.project #sidebar #gift p.deadline{
	border: dashed 1px #000;
	border-right:none;
	border-left:none;
	padding: 10px 0;
	color: #58595B;
	margin-top:23px;
	height:23px;
	line-height:23px;
	}

.project #sidebar #gift p.deadline span{
	font-style:normal;
	font-family: Arial, Helvetica, sans-serif;
	text-transform:capitalize;
	font-weight:bold;
}


.project #sidebar #help,
.project #sidebar #resources {
	border:none;
}

.project #sidebar #resources h3{
	height:45px;
	line-height:52px;
	font-weight:bold;
	color:#58585b;
	text-transform:capitalize;
}

.project #sidebar #resources ul li{
	height: 31px;
	line-height:30px;
	font-family:"Times New Roman";
	font-style:italic;
	font-weight:bold;
	padding:5px 0 3px 10px;
}

.project #sidebar #resources ul li span {
	height:30px;
	line-height:25px;
	padding-left:40px;
	display:block;
	color:#58585b;
}
	
.project #sidebar #resources ul li.clock span {
	background:url(../images/clock.png) no-repeat left center;
}
.project #sidebar #resources ul li.paintbrush span {
	background:url(../images/paintbrush.png) no-repeat left center;
}

.project #sidebar #resources ul li.even {
	background-color:rgba(221,216,207,.7);
}



.project #sidebar #help,
.project #sidebar #update{
	margin-top:15px;
}

.project #sidebar #help,
.project #sidebar #update h3 {
	font-weight:bold;
	color:#58585b;
}

.project #sidebar #help a {
	display:block;
	height:19px;
	line-height:15px;
	margin: 15px 0;
	padding-left: 50px;
	font-style:italic;
	font-family: "Times New Roman";
	background: url(../images/get-url.png) no-repeat 14px center;
	color: #58595B;
	font-weight:bold;
}

.project #sidebar #update {
	position:relative;
}

.project #sidebar #update h3 {
	height:45px;
	line-height:55px;
}

.project #sidebar #update .tweet-cont {
	height:119px;
	padding-bottom:30px;
}

.project #sidebar #update a {
	position:absolute;
	right:0;
	bottom:0;
	width:auto;
	font-weight:bold;
	font-family: "Times New Roman";
	font-size:1em;
	padding-bottom: 3px;
	padding-left: 10px;
}


.project #top-ten,
.project #shareholders {
	width:250px;
	background:#f1efeb;
	padding:5px 20px;
	margin-top:18px;
}

.project #shareholders h4,
.project #top-ten h4 {
	height:37px;
	line-height: 35px;
	border-bottom: 1px dashed #939595;
	text-transform:uppercase;
	font-weight: normal;
	font-style: normal;
	font-size: 16px !important;
}

.project #shareholders {
	float:left;
	position:relative;
}

.project #shareholders h4{
	color: #57595b;
	font-weight:bold;
	font-family: "Times New Roman";
	font-size:1.1em;
	letter-spacing:-.05em;	
}

.project #top-ten {
	float:right;
}

.project #top-ten h4 {
	color: #ef3f37;
	letter-spacing: 0px;
	font-size: 2em !important;
	font: bold 1.6em "Arial Narrow","Helvetica Neue Condensed Bold", Helvetica;
}

.project #top-ten h4 span{
	color: #57595b;
	font: bold .45em Helvetica, "Helvetica Neue", Arial, Geneva, sans-serif;
}

.project #top-ten h4,
.project #shareholders ul li,
.project #top-ten ul li {
	border-bottom:dashed 1px #939595;
	font-weight: normal;
	font-style: normal;
}

.project #shareholders ul li.last,
.project #top-ten ul li.last {
	border:none;
	padding-bottom:0;
	}

.project #shareholders ul img,
.project #top-ten ul img {
	float:left;
	margin: 0px;
	border: 0px;
	margin-right:16px;
	width: auto !important;
	padding: 0px;
}

.project #shareholders ul,
.project #top-ten ul {
	margin-bottom:15px;
}

.project #shareholders ul li,
.project #top-ten ul li {
	height:30px;
	padding: 5px 5px 5px 0;
	border-left: none;
}

.project #shareholders li p,
.project #top-ten li p {
	line-height:27px;
	height:30px;
	font-weight:bold;
	letter-spacing:-.1em;
	word-spacing:.05em;
}

.project #shareholders .more {
	background:none;
	width:auto;
	font-size:.95em;
	padding:0 0 0 10px; 
	position: relative;
	display: block;
	display: none !important;
}


.project #share {
	margin:20px 0 0 0;
	height:48px;
}

.project #twitter {
	width:48px;
	height:48px;
	float:left;
	background:url(../images/count-twitter.png) no-repeat;
}

.project #facebook {
	width:48px;
	height:48px;
	float:left;
	background:url(../images/count-facebook.png) no-repeat;	
	margin-right:10px;
}

.project #facebook-like {
	width:259px;
	height:48px;
	float:right;
	background:url(../images/like-facebook.png) no-repeat;
}

.sessions {
	padding-top:5px;
}

.sessions h2 {
	text-transform: uppercase;
	padding-bottom: 10px;
	color: #BD312B;
	font-weight: bold;
	margin-bottom: 25px;
	border-bottom: solid 3px #555555;
	font-family:"Times New Roman";
	height:16px;
}

.sessions ul.navigation {
	height:30px;
	border-bottom:1px dashed #000;
}

.reply ul.navigation {
	margin-bottom:8px;
}

.sessions ul.navigation li {
	float:left;
	height:30px;
	text-align:center;
	background:#F2EFEC;
	border-right:solid 1px #fff;
	}

.sessions ul.navigation li.active {
	background:#6DAEE4;
}

.sessions ul.navigation li a {
	display:block;
	height:100%;
	padding:0 35px;
	color:#9D9D9F;
	line-height:30px;
	font-family:"Times New Roman", Times, serif;
	font-style:italic;
	font-weight:bold;
}

.sessions ul.navigation li.active a {
	color:#fff;
	background: url(../images/navigation-arrow.png) no-repeat 77px 14px;
}

.sessions #messages {
	width:963px;
}

.sessions #messages tr td{
	border-bottom:1px dashed #000;
	height:55px;
	line-height:55px;
}

.sessions #messages tr.unread td{
	background:#F2EFEC;
	}

.sessions #messages .to {
	padding-left:10px;
	width:175px;
	font-weight:bold;
}

.sessions #messages .to span {
	width:5px;
	background:#E1E1E1;
	padding:0px 7px;
	margin-right:5px;
	font-size:12px;
}

.sessions #messages .unread .to span {
	background:#D6D3D0;
}

.sessions #messages .subject {
	text-align:center;
	font-size:.8em;
}

.sessions #messages .date {
	width:238px;
	font-size:.8em;
}

.sessions .action {
	width:135px;
}
	
.sessions .action a {
	text-align:center;
	padding:0 5px;
	font-family:"Times New Roman", Times, serif;
	font-weight:bold;
	font-style:italic;
	color:#000;
	margin:0 7px;
}

.sessions .action a.reply {
	background:#C1DDF3;
}

.sessions .action a.delete {
	background:#EFA49B;
}

.sessions .order {
	margin-top:5px;
	float:right;
}

.sessions .order a{
	width:8px;
	height:7px;
	display:block;
	float:left;
	margin:0 2px;
	background:url(../images/order-arrows.png) no-repeat left top;
}

.sessions .order a.down{
	background-position: left bottom;
}

.sessions .back {
	background-image:none;
	font-size:.8em;
	padding: 3px 10px;
}

.session form {
	margin-top:10px;
}

.reply form,
.reply form fieldset {
	width:490px;
}

.reply form {
	margin-top:10px;
}

.update form,
.update form fieldset {
	width:565px;
}

.reply form fieldset {
	float:left;
	background:#F2EFEC;
	padding:0 0 5px 0;
}

.reply form fieldset.buttons {
	background:none;
	text-align:right;
	margin-top:8px;
}

.sessions form ul{
	padding-top:17px;
}

.sessions form li {
	height:32px;
	margin-bottom:7px;
}

.sessions form li input{
	width:385px;
	float:right;
	margin-right:15px;
	height:18px;
	padding:6px 5px;
	border:solid 1px #d8d8d9;
}

.sessions form li.message {
	padding:0 15px;
	height:auto;
}

.sessions form li.message textarea {
	width:100%;
	border:solid 1px #d8d8d9;
	height:160px;
}

.update form li.message {
	padding:0;
	height:82px;
}

.update form li.message textarea {
	width:396px;
	float:right;
	margin:0 15px 0 0;
	height:80px;
	
	}

.sessions form li label{
	float:left;
	width:65px;
	text-align:right;
	height:32px;
	line-height:32px;
}

.update form li label{
	width:145px;
}

.update form li.last{
	margin-bottom:25px;
}

.sessions a.cancel {
	background:#D76759;
	padding:3px 10px;
	color:#fff;
}

.sessions input.submit {
	height:25px;
	border:none;
	background-image:none;
	padding:3px 10px;
}

.sessions div.meta,
.update fieldset.buttons {
	background:none;
	text-align:left;
	margin-top:20px;
	padding-top:15px;
	border-top:dashed 1px #000;
	margin-left:153px;
	width:397px;
}

.sessions div.meta,
.sessions div.meta ul {
	border:none;
	padding:0;
}

.sessions div.meta li{
	float:left;
	padding: 0 5px;
	border-right: solid 1px #555555;
	height:13px;
	line-height:13px;
}

.sessions div.meta li.first {
	padding-left:0;
}

.sessions div.meta li.last {
	padding-right:0;
	border:none;
}

.sessions div.meta li,
.sessions div.meta li a {
	color:#555555;
	font-size:.82em;
}

.sessions div.meta li a span{
	color:#555555;
	}

.sessions div.meta li.cancel a {
	color:#59ACD7;
}

.sessions div.meta li.cancel {
	border-right-color:#59ACD7;
}

.sessions form li.checkbox {
	padding-left:155px;
	height:15px;
}

.sessions form li.checkbox label{
	float:right;
	width:375px;
	text-align:left;
	font-size:.75em;
	margin-right:15px;
	height:15px;
	line-height:15px;
	}
.sessions form li.checkbox input{
	float:left;
	margin:2px 0 0 0;
	width:13px;
	}	

body.message #message{
	margin-top:18px;
}	

.message #message h3{
	padding-left: 10px;
	margin-right:25px;
	float:left;
	height:21px;
	line-height:21px;
}

.message #message .container {
	background:#F2EFEC;
	margin-top:18px;
	width:425px;
	padding:22px 33px;
}

.message #message .container .content{
	margin:22px 0;
	font-size:.8em;
}

.message .action {
	width:100%;
	text-align:right;
}

.message .action .delete{
	margin:0;
}













/* otros */

.faq #content {
	width:670px;
	float:left;
	margin-top:15px;
} 

.faq #sidebar {
	width:240px;
	padding:15px 13px;
	margin-top:15px;
	float:right;
	background:#F2EFEC;
}
 
.faq h2 {
	color:#BD312B;
	font-family:"Times New Roman";
	font-weight:bold;
	height:16px;
}
.faq #content p {
	color:#555555;
}
 
.faq p.desc { 
	margin-top:30px;
	border-bottom:3px solid #555555;
	line-height:1.15em;
	padding-bottom:30px;
}
 
.faq p.question {
	margin-top:25px;
	letter-spacing:.02em;
	font-weight:bold;
}
.faq p.answer {
	margin-top:15px;
	font-size:.9em;
	line-height:1.3em;
}

.faq #sidebar .widget {
	padding-bottom:10px;
	border-bottom:solid 3px #000;
}

.faq #sidebar div.last {
	border:none;
} 

.faq #sidebar #links {
	border-bottom:dashed 1px #000;
}

.faq #sidebar #links a{
	display:block;
	border:4px solid #DDDCDB;
	height:36px;
	margin-bottom:5px;
	padding-left:70px;
	padding-top:20px;
	font-family:"Times New Roman";
	color:#636466;
	font-style:italic;
	font-weight:bold;
	font-size:1.05em;
	background:url(../images/sidebar-link-arrow.png) no-repeat 210px 25px;
}

.faq #sidebar #links a.about{}

.faq #sidebar #links a.liberty{
	padding-top:16px;
	height:50px;
}

.faq #sidebar #subscribe {
	margin-top:18px;
}

.faq #sidebar #subscribe h3{
	font-weight:bold;
letter-spacing:0.05em;
line-height:1.2em;	
}

.faq #sidebar #subscribe form {
	margin:15px 0;
}

.faq #sidebar #subscribe form input {
	border:none;
	background:#fff;
}

.faq #sidebar #subscribe form input#zip {
	width:50px;
}

.faq #sidebar #subscribe form input.submit {
	font-size:.9em;
}

.faq #sidebar #contact-us h3 {
	font-style:italic;
	font-weight:bold;
	padding-left:42px;
	height:19px;
	line-height:19px;
	padding-bottom:7px;
	font-family:"Times New Roman";
	background:url(../images/get-url.png) no-repeat left top;
	margin-top:15px;
	font-size:1.1em;
	border-bottom:dashed 1px #000;
}

.faq #sidebar #contact-us p {
	margin-top:10px;
	padding-left:40px;
}

.faq #sidebar #contact-us a.mailto {
	display:block;
	margin-left:40px;
	margin-top:10px;
}

.faq #sidebar #tags {
	padding-top:10px;
}

.faq #sidebar #tags p {
	font-size:.9em;
}







/* about */

.about #header {
	margin:0;
}

.about #beginning {
	background:url(../images/about/beginning.jpg) no-repeat center top;
	height:515px;
	padding-top:50px;
	color:#fff;
}

.about #how-work {
	background:url(../images/about/how-work.jpg) no-repeat center top;
	height:513px;
	padding-top:50px;
	color:#fff;
}

.about #guiding {
	background:url(../images/about/guiding.jpg) no-repeat center top;
	padding-top:50px;
	height:515px;
	color:#fff;
}

.about #growth {
	background:url(../images/about/growth.jpg) no-repeat center top;
	height:496px;
	color:#fff;
	padding-top:68px;
}

.about #directors {
	background:url(../images/about/directors.jpg) no-repeat center top;
	height:550px;
	padding-top:13px;
	
}

.about #contact-us {
	background:url(../images/about/contact-us.jpg) no-repeat center top;
	height:308px;
	padding-top:65px;
}

.about #content .wrapper {
	width:700px;
	padding-left:263px;
}

.about #container {
	position:relative;
}

.about #sidebar {
	position:fixed;
	top: 128px;
	left:26px;
	width:180px;
	padding:10px 13px;
	background:#F4F2EE;
}

.about #sidebar h3{
	text-transform:uppercase;
	font-family:"Times New Roman";
	font-weight:bold;
}

.about #sidebar ul{
	margin:10px 0 10px 0;
	border:solid 2px #F2EFEC;
	background:#EAE7E4;
	padding:10px 0 0 10px;
}

.about #sidebar ul li {
	margin-bottom:9px;
}

.about #sidebar ul li a{
	color:#C1B9B3;
	display:block;
	font-weight:bold;
	font-size:.9em;
}

.about #footer {
	margin:0;
}

.about #content h2 {
	font-style:italic;
	font-size:2em;
	font-family:"Times New Roman";
	font-weight:bold;
}

.about #content h2 span {
	font-style:normal;
	text-transform:uppercase;	
}

.about #beginning ul,
.about #how-work ul {
	margin-top:10px;
	list-style:disc;
	padding-left:20px;
	margin-bottom:30px;
}

.about #how-work ul {
	width:307px;
}

.about #beginning ul li,
.about #how-work ul li{
	margin-bottom:12px;
	line-height:1.25em;
}

.about #beginning .wrapper div {
	float:left;
	width:330px;
	margin-left:15px;
}
.about #beginning div img{
	border:solid 7px #fff;
	margin-bottom:15px;
}

.about a.more {
	font-size:.9em;
	padding-top:6px;
	padding-bottom:6px;
}

.about #how-work p {
	margin-bottom:20px;
}

.about #guiding .wrapper div {
	background:url(../images/about/guiding-content.png) no-repeat;
	width:629px;
	height:317px;
	position:relative;
	left:-37px;
	top:20px;
}

.about #guiding p {
	margin-top:20px;
}

.about #growth h2{
	margin-bottom:10px;
}

.about #growth p{
	width:410px;
	margin-bottom:12px;
	line-height:1.25em;
}

.about #growth p.link{
	margin-top:20px;
}

.about #contact-us .wrapper div{
	width:380px;
	height:100px;
	margin-top:40px;
	padding:20px 35px;
	background:#FAFAF9;
	}
	
.about #contact-us h3{	
	font-family:times New Roman;
	font-size:2em;
	font-weight:bold;
	height:34px;
	margin-bottom:10px;
}

.about #contact-us p {
	font-size:1.25em;
	line-height:1.25em;
	font-weight:bold;
}

.about #contact-us a.mailto{
	color:#BE4B4F;
}

.about #contact-us p.address {
	float:left;
}

.about #contact-us p.contact {
	float:right;
}

.about #directors .wrapper div{
	padding:0 30px;
	background:#F1F2F2;
	margin-top:10px;
}

.about #directors .wrapper div.first{
	margin:0;
}

.about #directors .wrapper div.partners li {
	height:90px;
}

.about #directors ul li {
	height:145px;
	border-bottom:dashed 1px #000;
	padding:25px 0;
	color:#555555;
}

.about #directors ul li.last {
	border:none;
}

.about #directors ul li img {
	float:left;
	margin-right:25px;
}

.about #directors ul li h3 {
	font-size:1.05em;
	text-transform:uppercase;
	font-family:"Times New Roman";	
	font-weight:bold;
	margin-bottom:5px;
}

.about #directors ul li p {
	font-size:.9em;
	line-height:1.25em;
}
