
@font-face {
	font-family: 'Helvetica';
	src: url('../fonts/helvetiva_italica-webfont.eot');
	src: local('☺'), url('../fonts/helvetiva_italica-webfont.woff') format('woff'), url('../fonts/helvetiva_italica-webfont.ttf') format('truetype'), url('../fonts/helvetiva_italica-webfont.svg#webfonttU46DRlX') format('svg');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Helvetica';
	src: url('helvetica_bold_italica-webfont.eot');
	src: local('☺'), url('../fonts/helvetica_bold_italica-webfont.woff') format('woff'), url('helvetica_bold_italica-webfont.ttf') format('truetype'), url('helvetica_bold_italica-webfont.svg#webfontvl3msiGK') format('svg');
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: 'Helvetica';
	src: url('helvetica_bold-webfont.eot');
	src: local('☺'), url('../fonts/helvetica_bold-webfont.woff') format('woff'), url('helvetica_bold-webfont.ttf') format('truetype'), url('helvetica_bold-webfont.svg#webfontg1u5BHdj') format('svg');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Helvetica';
	src: url('../fonts/helvetiva_regular-webfont.eot');
	src: local('☺'), url('../fonts/helvetiva_regular-webfont.woff') format('woff'), url('../fonts/helvetiva_regular-webfont.ttf') format('truetype'), url('../fonts/helvetiva_regular-webfont.svg#webfontkdlIboVZ') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* Layout general */

body {
	background: url(../images/background.png) repeat-x center top;
	font-family: Helvetica, "Times New Roman", Arial, sans-serif;
	font-size: 1em;
}

.wrapper {
	width:963px;
	margin: 0 auto;
}

.clear {
	clear: both;
	padding:0 !important;
}

a.more,
input.more {
	height: 21px;
	background: #F3FC04 url(../images/link-more.png) no-repeat right center;
	color: #000000;
	font-style: italic;
	font-weight:bold;
	line-height:21px;
	font-size:1em;
	padding:0 17px 3px 5px;
	text-align: right;
	font-family:"Times New Roman";	
}

input.submit:hover {
	cursor: pointer;
}

/* Header */

#header {
	height:66px;
	position: relative;
	overflow: hidden;
	margin-bottom:23px;
}

#header,
#header a {
	color: #808285;
}

#header a {
	font-weight: bold;
}


h1#logo {
	width:248px;
	height:47px;
	float:left;
	margin:9px 0 0 2px;
}

h1#logo a{
	display: block;
	background: url(../images/logo.png) no-repeat left center;
	width:100%;
	height:100%;
}

h1#logo a span {
	display:none;
	visibility:hidden;
	}

#nav,
#login-box {
	margin-top: 25px;
}

#nav {
	float: left;
	margin-left: 130px;
	font-family: "Times New Roman";
}

#nav li {
	float: left;
	text-transform: uppercase;
	margin: 0 9px;
}

#nav li a{
	display:block;
	padding: 0 10px;
	height: 100%;
	color: #808285;
}

#nav li span {
	text-transform: lowercase;
	font-style: italic;
	font-weight: 100;
}

#login-box {
	float: right;
	margin:27px 2px 0 0;
	font-style:italic;
	font-size:.7em;
}

#login-box a{
	font-style: normal;
	text-transform:uppercase;
	text-decoration:underline;
	
}

#login-box a:hover{
	text-decoration:none;
}

#login-box span {
	font-family:"Times New Roman";
	margin:0 2px;
}
/* footer */

#footer {
	border-top: solid 1px #f7f5f4;
	background: #f2efec;
	height: 243px;
	padding-top: 40px;
	margin-top:55px;
}

#footer .wrapper{
	padding-top:5px;
}

#footer h3 {
	color: #9D9D9F;
	text-transform: uppercase;
	font-weight: bold;
	margin-bottom: 2px;
	font-size:0.9em;
}

#footer li a {
	color: #9D9D9F;
	font-size: .8em;
}

#footer .logo,
#footer .projects,
#footer .about,
#footer .ads{
	margin: 13px 34px 0 0;
}

#footer .logo {
	background: url(../images/footer-logo.png) no-repeat;
	height:195px;
	width:156px;
	float:left;
	padding:0;
	margin-top:0;
}

#footer .logo p {
	display:none;
	visibility:hidden;
}

#footer .projects {
	float:left;
	width:380px;
	padding: 0;
	margin-right:20px;
}

#footer .projects li {
	float: left;
	width: 190px;
	padding: 3px 0;
}

#footer .about {
	float:left;
	width: 160px;
	padding: 0;
	margin-right:20px;
}

#footer .about li{
	padding: 2px 0;
	}

#footer .ads {
	float:left;
	width:185px;
	padding:0;
	margin-right:0;
}

#footer .ads li {
	float: left;
	margin: 0 10px 5px 0;
}

#footer .ads li.big {
	float:none;
	width:185px;
	text-align:right;
	margin-bottom:40px;
}

#container {

}


/* home */

#banner {
	margin-bottom:16px;
	height:266px;
}

.home #content {
	margin-bottom:15px;
	position:relative;
}

#video {
	float:left;
	width:446px;
	height:385px;
	padding:16px 15px 15px 15px;
	border-top: solid 1px #FAF9F7;
	border-bottom: solid 1px #F7F5F4;
	border-left: solid 1px #fefefe;
	background: #F2EFEC;
	position: relative;
}

#video h2 {
	font-weight: bold;
	color: #58595B;
	text-transform:uppercase;
	font-size:1.2em;
	word-spacing:.15em;
	height:22px;
}
#video h3 {
	color: #BD312B;
	font-style:italic;
	font-family: "Times New Roman";
	letter-spacing:.05em;
	word-spacing:-.1em;
	font-weight:bold;
}

#video div {
	background: url(../images/teh-video.jpg) no-repeat;
	width:443px;
	height:333px;
	margin: 15px auto 0 auto;
	cursor: pointer;
}

#news {
	background: url(../images/news-background.png) no-repeat;
	width: 433px;
	height:281px;
	float:right;
	padding:17px 20px 20px 20px;
	position:relative;
}

#news h2 {
	color: #808285;
	text-transform: uppercase;
	font-weight: bold;
	margin-bottom:38px;
	font-family: "Times New Roman";
}

#news h3 {
	color: #BD312B;
	text-transform: uppercase;
	font-weight: bold;
	margin-bottom:15px;
	font-size:1.1em;
	letter-spacing:.1em;
	word-spacing:-.2em;
}

#news .meta {
	text-transform: uppercase;
	font-weight: bold;
	color: #58595B;
	margin-bottom:4px;
}

#news p {
	color: #58595B;
	line-height:1.5em;
	margin-bottom:25px;
	font-size:.85em;
}

#news a {
	display: block;
	position:absolute;
	right:30px;
	bottom:30px;
}

#subscribe {
	position:absolute;
	bottom:0;
	right:0;
	height:63px;
	width:446px;
	/*
background: #EAE7E4;
*/
	border: solid 5px #F2EFEC;
	padding:18px 9px 5px 9px;
}

#subscribe h2 {
	color: #58595B;
	font-weight: bold;
	margin-bottom:15px;
	word-spacing:.1em;
}

#subscribe .social-media {
	float: right;
}

#subscribe form {
	float: left;
}

#subscribe form label {
	display:none;
	visibility: hidden;
}

#subscribe form input {
	background: none;
	border: solid 1px #C6C3C0;
	color: #4C4847;
	height:17px;
	font-family:"Times New Roman";
	font-weight:bold;
	font-size:1em;
}

#subscribe form input#email {
	width:110px;
	padding-left:5px;
}

#subscribe form input#zip {
	width:70px;
	padding-left:5px;
}

#subscribe form input.submit {
	color: #ffffff;
	background: #DC3931;
	border-color:#DC3931; 
	width: auto;
	font-style:italic;
	height:21px;
}

#featured {
	padding:2px 0 0 0;
}

#featured h2 {
	text-transform: uppercase;
	font-weight: bold;
	color: #808285;
	margin-bottom: 5px;
	height:20px;
	word-spacing:.2em;
	font-family:"Times New Roman";
}

#featured li {
	float:left;
	position:relative;
	width:309px;
	margin-right:18px;
}

#featured li.first,
#featured li.last {
	margin:0;
}

#featured li .head{ 
	position:absolute;
	top:0;
	left:0;
	background-color: rgba(0, 0, 0, .6);
	color:#ffffff;
	padding: 9px;
	height:120px;
	width:291px;
}

#featured .head h3 {
	text-transform: uppercase;
	font-weight: bold;
}

#featured .head h4 {
	font-style: italic;
	font-size:.95em;
	font-family: "Times New Roman";
	height:15px;
	margin-bottom:8px;
	font-weight:bold;
}

#featured .head p {
	font-size:0.8em;
	line-height:1.2em;
	margin:5px 0 0 0;
}

#featured li .head a {
	position:absolute;
	left:9px;
	bottom:14px;
	height:19px;
}

/* social media */

.social-media li.find {
	font-style: italic;
	color: #58595B;
	font-size:14px;
	line-height: 21px;
	width: 66px;
	font-family:"Times New Roman";
	margin:0;
}

.social-media li {
	float: left;
	width: 21px;
	height: 21px;
	margin: 0 3px;
}

.social-media li a {
	display:block;
	width:100%;
	height:100%;
}

.social-media li span{
	display:none;
	visibility:hidden;
}

.social-media li.twitter {
	background: url(../images/social-media/twitter.png) no-repeat;
}

.social-media li.flirk {
	background: url(../images/social-media/flirk.png) no-repeat;
}

.social-media li.vimeo {
	background: url(../images/social-media/vimeo.png) no-repeat;
}

.social-media li.facebook {
	background: url(../images/social-media/facebook.png) no-repeat;
}








/*  Projects page */

.projects #header {
	margin-bottom:36px;
}

.projects h2 {
	text-transform: uppercase;
	color: #9D9D9F;
	font-weight: bold;
	margin-bottom: 10px;
	font-family: "Times New Roman";
	height:16px;
}

.projects h3 {
	color: #58595B;
	font-weight: bold;
	margin-bottom: 1px;
	font-size:1.1em;
	height:18px;
}

.projects h4 {
	font-style: italic;
	color: #BD312B;
	margin-bottom: 15px;
	font-family:"Times New Roman";
	font-weight:bold;
	height:16px;
}

.projects #content {
	margin-bottom: 20px;
}

.projects #content p {
	font-size: 14px;
	line-height: 16px;
	margin-bottom:5px;
	font-size:.75em;
}

.projects #content li {
	float:left;
	width: 231px;
	padding: 25px 44px 20px 44px;
	/*border: dotted 1px #000000;*/
	position:relative;
	height:395px;
}

.projects #content li.top,
.store-list #content li.top {
	border-top: dotted 1px #000000;
	}
	
.projects #content li,
.store-list #content li {
	border-left: dotted 1px #000000;
	border-bottom: dotted 1px #000000;
}

.projects #content li.last,
.store-list #content li.last {
	border-right: dotted 1px #000000;
}

.projects #content img {
	padding:10px;
	background: #E7E8EB;
	border: #F2EFEC solid 3px;
	width: 207px;
	display:block;
	margin-bottom: 18px;
}

.projects #content a.more {
	display: block;
	position:absolute;
	right:44px;
	bottom:40px;
}

.projects #footer {
	margin-top:25px;
}


/*  Store page */

.store-detail #header,
.store-list #header {
	margin-bottom:43px;
}

.store-list h2,
.store-detail h2 {
	text-transform: uppercase;
	padding-bottom: 3px;
	color: #BD312B;
	font-weight: bold;
	margin-bottom: 25px;
	border-bottom: solid 3px #555555;
	font-family:"Times New Roman";
	height:16px;
}

.store-detail #content {
	margin-bottom:150px;
}

.store-list h3 {
	margin-bottom: 2px;
	text-align: center;
}

.store-list h3 a,
.store-detail h3 a{
	color: #BD312B;
	font-weight: bold;
	color: #58595B;
	font-size: 1.25em;
}	

.store-list #content,
.store-detail #content {
	margin-bottom: 20px;
}

.store-list #content p.price,
.store-detail #content p.price {
	color: #BD312B;
	text-align: center;
}

.store-list #content li {
	float:left;
	width: 180px;
	height:215px;
	padding: 40px 69px;
}

.store-list #content img {
	width: 180px;
	display:block;
	margin-bottom: 15px;
}

.store-detail #content img {
	float: left;
	margin-right: 45px;
}

.store-detail #content #detail {
	width: 386px;
	float: left;
}

.store-detail #content #detail h3,
.store-detail #content #detail p.price {
	text-align: left;
}

.store-detail #content #detail p.price {
	margin-bottom:17px;
	}

.store-detail #content #detail p.desc {
	font-size:14px;
	letter-spacing:-0.05em;
	line-height:1.3em;
	margin-bottom:10px;
	width:360px;
}

.store-detail #content form label {
	color: #555556;
	font-weight: bold;
	text-transform: uppercase;
	margin-right: 5px;
}

.store-detail #content form input {
	width: 50px;
	height:30px;
	border: solid 1px #C6C3C0;
}

.store-detail #content form input.submit {
	border:none;
	width: 100px;
	height: 21px;
	padding-left:0;
	display: block;
	margin-top:40px;
	background-position: right center;
}



/* Profile */

.loggedin #login-box a {
	background: none;
	text-decoration:none;
}

.loggedin #login-box a:hover {
	text-decoration:underline;
	}

.profile #user {
	border-bottom: solid 2px #555555;
	padding:16px 0 20px 0;
	position:relative;
	margin-bottom:23px;
}

.profile #user #detail {
	float: left;
	height:185px;
	width:370px;
	padding-right:40px;
	border-right: dashed 1px #000000;
	position:relative;
}

.profile #user #detail h2{
	color: #58595B;
	font-weight: bold;
	font-size: 1.25em;
	height:20px;
	margin-bottom:1px;
}

.profile #user #detail h3{
	color: #BD312B;
	font-weight:bold;
	font-size: 1em;
	height:15px;
	margin-bottom:20px;
	font-family: "Times New Roman";
	font-style: italic;
}

.profile #user #detail blockquote {
	font-style:italic;
	font-weight:bold;
	color: #58595B;
	font-family: "Times New Roman";
	line-height:1.35em
}

.profile #user #detail .contact {
	position: absolute;
	bottom: 1px;
	right:88px;
	font-size:.7em;
	height:14px;
	background: url(../images/get-url.png) no-repeat 8px top;
	padding-top:2px;
	padding-bottom:1px;
	padding-left:40px;
}

.profile #user #detail .url,
.profile #user #detail .get-touch {
	
}

.profile #user #detail .url {
	text-decoration:underline;
	color:#83C1F7;
	margin-left: 15px;
}

.profile #user #detail .get-touch {
	color: #58595B;
	margin-right: 7px;
	font-weight:bold;
}

.profile #user #share {
	float:right;
	width:500px;
	padding-top:43px;
}

.profile #user #share li{
	float:left;
	width:135px;
	margin:0;
	position:relative;
	height:96px;
}

.profile #user #share li.shares{
	margin-right:70px;
}

span.numbers,
.profile #user #share li p small {
	font-weight:bold;
	color:#59A6F3;
	font-size:2.75em;
	letter-spacing:-0.1em;	
}

.profile #user #share li a {
	position:absolute;
	right:7px;
	bottom:0;
	color:#83C1F7;
	font-size:.7em;
	text-decoration:underline;
}

.profile #user #share li.shares p{
	background: url(../images/logo-mini.png) no-repeat 4px 6px;
	padding-left:45px;
	}

.profile #user #share li.gifts{
	margin-right:55px;
	width:105px;
}

.profile #user #share li.gifts small{
	margin-left:5px;
	font-size:16px;
	letter-spacing:0;
}

.cufon-loading .profile #user #share p {
	visibility:hidden !important;
}

.cufon-ready .profile #user #share li.gifts p .cufon {
	width:45px !important;
}

.profile #user #share li h4{
	text-align:center;
	font-style:italic;
	height:16px;
	margin-bottom:15px;
	font-weight:1.05em;
	font-family:"Times New Roman";
	text-transform:capitalize;
	font-weight:bold;
	color:#8F8C87;
}

.profile #user #share .edit{
	position:absolute;
	right:0;
	bottom:5px;
}

.profile #user #detail img {
	float:left;
	margin-right: 35px;
}

.profile ul#projects{
	float:left;
	width:740px;
}

.profile ul#projects li.project {
	background: url(../images/bg-proyect.jpg) no-repeat;
	width: 207px;
	height: 249px;
	border: solid 5px #F2EFEC;
	float:left;
	margin:0 14px 14px 0;
	padding: 10px;
	position:relative;
}

.profile ul#projects li.last {
	margin-right:0;
}

.profile ul#projects li.project h3,
.profile ul#projects li.project h4{
	text-align:center;
	color:#58595B;
}

.profile ul#projects li.project h3 {
	font-size:1.25em;
	font-weight:bold;
	height:20px;
	margin-bottom:1px;
}

.profile ul#projects li.project h4{
	font-style:italic;
	height:22px;
	margin-bottom:6px;
	font-family: "Times New Roman";
	font-weight:bold;
}

.profile ul#projects li.project .shared,
.profile ul#projects li.project .shared p {
	height:33px;
}

.profile ul#projects li.project .shared {
	border: 1px dashed #000;
	border-left:none;
	border-right:none;
	padding: 6px 0 8px 0;
}

.profile ul#projects li.project .shared p {
	padding-left:100px;
	background: url(../images/logo-mini.png) no-repeat 64px center;
	color:#4187E3;
	font-weight:bold;
	font-size:1.4em;
}

.profile ul#projects li.project .shared p small {
	color:#0F43D3;
	display:block;
	font-family:"Times New Roman";
	font-size:0.5em;
	font-style:italic;
	letter-spacing:0.1em;
	padding-left:3px;
}

.profile ul#projects li.project a {
	position:absolute;
	bottom: 8px;
	display:block;
	height:20px;
	color: #fff;
	font-style:italic;
	font-weight:bold;
	font-family: "Times New Roman";
	padding:1px 7px;
	
}

.profile ul#projects li.project a.info {
	left:10px;
	background-color: rgba(193, 211, 226, .6);
	/*background: #C1D3E2;*/
	}
	
.profile ul#projects li.project a.share {
	right:10px;
	background: #72A9CE url(../images/shared-arrow.png) no-repeat right top;
	padding-right:18px;
	word-spacing:-.10em;
	}

.profile ul#projects li.project img {
	margin:0 auto 10px auto;
	display: block;
}

.profile #sidebar {
	width:188px;
	float:right;
	padding:0 10px 23px 10px;
	border: solid 1px #ccc;
}

.profile #content #sidebar h3{
	margin-top:15px;
	height:29px;
	border-bottom: dashed 1px #000;
}

.profile #content #sidebar ul{
	width:188px;
}

.profile #content #sidebar li {
	background:none;
	border: none;
	float:none;
	height:31px;
	width:188px;
	margin: 0;
	padding:5px 0;
	border-bottom: dashed 1px #000;
	}

.profile #content #sidebar li img {
	float: left;
	margin-right: 17px;
}

.profile #content #sidebar li h4 {
	letter-spacing:-.05em;
}

.profile #content #sidebar li p {
	font-family: "Times New Roman";
	font-weight:bold;
	font-style:italic;
	font-size:.75em;
	}


/* Project */

.project .meta {
	padding-top:5px;
}

.project .meta h2 {
	font-weight:bold;
	font-size:1.25em;
	color: #58585b;
	text-transform:uppercase;
	height:20px;
	margin-bottom:3px;
}

.project .meta h3 {
	color:#BD312B;
	font-family:"Times New Roman";
	font-style:italic;
	letter-spacing:0.05em;
	word-spacing:-0.1em;
	font-weight:bold;
	height:16px;
	margin-bottom:15px;
}

.project .meta ul {
	height:30px;
	margin-bottom:10px;
}

.project .meta li {
	float: left;
	margin: 0;
	border-right:solid 1px #fff;
	background:#f1efeb;
	font-family:"Times New Roman";
}

.project .meta li.selected {
	background: #459ff7 url(../images/link-current.png) no-repeat right top;
}

.project .meta li.selected a {
	color: #fff;
	padding-right:25px;
	}

.project .meta li.selected a:hover {
	text-decoration:none;
	cursor:default;
}

.project .meta li a {
	color: #9d9d9f;
	font-style:italic;
	font-weight: bold;
	display:block;
	height:20px;
	padding: 6px 15px 4px 15px;	
}

.project #video {
	background: url(../images/teh-big-video.jpg) no-repeat;
	width:595px;
	height:450px;
	margin: 0 0 15px 0;
	padding:0;
	border:none;
}

.project #content {
	width:595px;
	float:left;
}

.project #content .content {
	border-bottom: dashed 1px #000;
	padding-bottom: 10px;	
}

#project .content p{
	font-size:.75em;
	word-spacing:.05em;
	line-height:1.6em;
}

#project ul {
	
}

.project #sidebar {
	width: 310px;
	padding:20px;
	float:right;
	background:#f2f0ec url(../images/sidebar-bg.png);
}

.project #sidebar .widget {
	border-top: solid 2px #000;
}

.project #sidebar #status h3{
	height:45px;
	line-height: 45px;
	border-bottom: solid 2px #000;
	text-align:center;
	margin-bottom:15px;
	font-style:italic;
	overflow:hidden;
	color:#58585b;
	font-size:1.25em;
	letter-spacing:.1em;
	font-family: "Times New Roman";
	
}

.project #sidebar #status p {
	font-size:.75em;
	line-height:1.4em;
}

.project #sidebar #status .status {
	padding-top:45px;
}

.project #sidebar #status .shareholders {
	color: #59A6F3;
	font-weight: bold;
	text-align:center;
	line-height:.45em;
	margin-bottom:30px;
}

.project #sidebar #status .goal {
	height:60px;
	width:222px;
	margin: 0 auto 20px auto;
	position:relative;
}

.project #sidebar #status .goal div {
	position:absolute;
}

.project #sidebar #status .start,
.project #sidebar #status .end {
	bottom:0
}

.project #sidebar #status .start {
	left:0;
}
.project #sidebar #status .end {
	right:0;
}

.project #sidebar #status .total,
.project #sidebar #status .doing,
.project #sidebar #status .full {
	top:0;
	width:100%;
	height:20px;
	background-color:rgba(204,181,181,.8);
	border: solid 1px #ccb5b5;
	z-index:0;
}

.project #sidebar #status .doing,
.project #sidebar #status .full {
	border: solid 1px #cc5353;
	background-color:rgba(204,83,83,.8);
	z-index:1;
}

.project #sidebar #status .doing {
	border-right:none;
	}

.project #sidebar #status .zero {
	display:none;
	visibility:hidden;
}


.project #sidebar #status .shareholders small {
	font-style:italic;
	font-family:"Times New Roman";
	color: #58595B;
}

.project #sidebar #gift h3 {
	background: url(../images/make-gift.png) no-repeat center top;
	height: 109px;
	margin-bottom:5px;
	margin-top: 10px;
}

.project #sidebar #gift h3 span{
	display:none;
	visibility:hidden;
}

.project #sidebar #gift p{
	text-align:center;
	font-style:italic;
	font-weight:bold;
	font-family:"Times New Roman";
	font-size: 1.05em;
}

.project #sidebar #gift p a{
	padding: 0px 15px 0px 10px;
	font-size: 1em;
}

.project #sidebar #gift p.deadline{
	border-bottom: dashed 1px #000;
	border-top: dashed 1px #000;
	padding: 10px 0;
	color: #58595B;
	margin-top:23px;
	height:23px;
	line-height:23px;
	}

.project #sidebar #gift p.deadline span{
	font-style:normal;
	font-family: Arial, Helvetica, sans-serif;
}


.project #sidebar #help,
.project #sidebar #resources {
	border:none;
}

.project #sidebar #resources h3{
	height:45px;
	line-height:45px;
}

.project #sidebar #resources ul li{
	height: 30px;
	line-height:30px;
	padding-left:45px;
	font-family:"Times New Roman";
	font-style:italic;
	font-weight:bold;
}
	
.project #sidebar #resources ul li.clock {}
.project #sidebar #resources ul li.even {}
.project #sidebar #resources ul li.paintbrush {}

.project #sidebar #help,
.project #sidebar #update{
	padding-top:20px;
}

.project #sidebar #help h3,
.project #sidebar #update h3 {
	font-weight:bold;
}

.project #sidebar #help a {
	display:block;
	height:25px;
	line-height:25px;
	margin: 15px 0;
	padding-left: 50px;
	font-style:italic;
	font-family: "Times New Roman";
	background: url(../images/get-url.png) no-repeat 14px center;
	color: #58595B;
	font-weight:bold;	
}

.project #sidebar #update {
	position:relative;
}

.project #sidebar #update .tweet-cont {
	height:140px;
	padding-bottom:30px;
}

.project #sidebar #update a {
	position:absolute;
	right:0;
	bottom:0;
	width:auto;
	font-weight:bold;
	font-family: "Times New Roman";
	font-size:1em;
	padding-bottom: 3px;
	padding-left: 10px;
}


.project #top-ten,
.project #shareholders {
	width:250px;
	background:#f1efeb;
	padding:5px 20px;
	margin-top:18px;
}

.project #shareholders h4,
.project #top-ten h4 {
	height:40px;
	line-height:40px;
	border-bottom:dashed 1px #000;
	}

.project #shareholders {
	float:left;
	position:relative;
}

.project #shareholders h4{
	color: #57595b;
	font-weight:bold;
	font-family: "Times New Roman";
	font-size:1.1em;
	letter-spacing:-.05em;	
}

.project #top-ten {
	float:right;
}

.project #top-ten h4 {
	font-size:2em;
	font-weight:bold;
	color: #ef3f37;
}

.project #top-ten h4,
.project #shareholders ul li,
.project #top-ten ul li {
	border-bottom:dashed 1px #000;
}

.project #shareholders ul li.last,
.project #top-ten ul li.last {
	border:none;
	}

.project #top-ten h4 span{
	color: #57595b;
	font-size:.45em;
}

.project #shareholders ul img,
.project #top-ten ul img {
	float:left;
	margin-right:10px;
}

.project #shareholders ul,
.project #top-ten ul {
	margin-bottom:20px;
}

.project #shareholders ul li,
.project #top-ten ul li {
	height:31px;
	padding: 5px;
}

.project #shareholders li p,
.project #top-ten li p {
	line-height:31px;
	height:31px;
	font-weight:bold;
}

.project #shareholders .more {
	position:absolute;
	right: 20px;
	bottom:5px; 
	background:none;
	width:auto;
	padding:0 0 0 20px; 
}


.project #share {
	margin:20px 0 0 0;
	height:48px;
}

.project #twitter {
	width:48px;
	height:48px;
	float:left;
	background:url(../images/count-twitter.png) no-repeat;
}

.project #facebook {
	width:48px;
	height:48px;
	float:left;
	background:url(../images/count-facebook.png) no-repeat;	
	margin-right:10px;
}

.project #facebook-like {
	width:259px;
	height:48px;
	float:right;
	background:url(../images/like-facebook.png) no-repeat;
}
